/* src/css/Home.css */
.Home {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .Home-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  section {
    margin: 20px;
  }
  
  footer {
    margin-top: 40px;
    font-size: 0.8em;
    color: #777;
  }
  